* {
    margin: 0px;
    padding: 0px;
}




body{
    background: #a8c0ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #3f2b96, #a8c0ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #3f2b96, #a8c0ff);
        overflow: hidden;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.searching{
    background:#0083B0;
        /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 1px solid #6a6f73;
    border-radius:14px;
    width: 490px;
    height: 590px;
    margin-left: 550px;
    margin-top: 40px;
    padding: 40px;
    padding-left: 140px;
}



input{
    width: 90px;
    height: 40px;
    background: #f12711;
        /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f5af19, #f12711);
        /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f5af19, #f12711);
    
    font-family: 'Geologica';
    font-size: 16px;
    border: 1px solid #f5af19;

}

input:hover{
    color: white;
}



header{
    font-family: 'Aoboshi One';
    font-size: 40px;
    color: white;
    margin-left: 640px;

}


.author{
    position:fixed;
    top: 360px;
    left: 740px;
    font-family: 'Aoboshi One';
    
    
}

.quote{
    position: relative;
    top: -340px;
    left: 690px;
    width: 490px;
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend{
    font-family: 'Playfair Display';
    font-size: 20px;

}


/*
font-family: 'Aoboshi One',
serif;
font-family: 'Geologica',
sans-serif;
font-family: 'Noto Sans',
sans-serif;
font-family: 'Playfair Display',
serif;
font-family: 'Roboto',
sans-serif;

*/

